
<div class="base">
  <div class="container">
    <div class="sixteen columns">
      <div class="row">
        <img alt="BloomThat Flower Delivery" style="width:75px;" src="https://fdn.bloomthat.com/logos/2014/12/bloomthat-logo-mobile.png">
      </div>
      <ul class="master_footer">
        <li>
          <a href="/help-center" title="Help" target="_blank">Поддержка</a>
        </li>
        <li>
          <a href="/account" title="Account" target="_blank">Акаунт</a>
        </li>
        <li>
          <a href="/terms" title="Privacy Policy and Terms of Use" target="_blank">Условия</a>
        </li>
      </ul>
      <p>
        &copy; 2017 OtpravBuket
      </p>
    </div>
  </div>
</div>