
<div class="these-are-not-the-divs-youre-looking-for">
  <div id="fixed-header" class="container content header">
    <div class="checkout-nav-container">
      <div class="checkout-nav-links">
        <ul class="master_footer check-menu">
          <li>
            <a href="/checkout/delivery" title="Delivery">Delivery</a>
          </li>
          <li>
            <a href="/checkout/when" title="Date &#43; Time">Date &#43; Time</a>
          </li>
          <li>
            <a class="checkout-active" href="/checkout/add_on" title="Extras">Extras</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="link-disabled" title="Note" style="cursor:default;">Note</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="link-disabled" title="Payment" style="cursor:default;">Payment</a>
          </li>
        </ul>
      </div>
      <div class="checkout-nav-logo">
        <a href="/flowers" title="BloomThat Flowers"><img class="checklogo" src="https://fdn.bloomthat.com/logos/2014/12/bloomthat-logo.jpg" alt="Handcrafted blooms. Starting at $38. Delivered on demand."> <img class="checklogo mobile" src="https://fdn.bloomthat.com/logos/2014/12/bloomthat-logo-mobile.png" alt="Handcrafted blooms. Starting at $38. Delivered on demand."></a>
      </div>
    </div>
  </div>
  <div style="display:none;" itemprop="brand" itemscope="" itemtype="http://schema.org/Organization">
    <span style="display:none;" itemprop="name">BloomThat</span> <span style="display:none;" itemprop="email">info@bloomthat.com</span> <span style="display:none;" itemprop="foundingLocation">San Francisco, CA</span>
    <div itemprop="brand" itemscope="" itemtype="http://schema.org/Brand">
      <span style="display:none;" itemprop="name">BloomThat</span> <span style="display:none;" itemprop="logo">https://fdn.bloomthat.com/icons/2014/11/apple-touch-icon-precomposed.png</span>
    </div>
  </div>
  <div id="fixed-body">
    <div class="checkout-section" id="add-view">
      <div class="container content">
        <div class="ten columns">
          <div id="addon-container" class="ten columns">
            <hr>
          </div>
        </div>
        <div class="six columns">
          <div class="six columns well" id="who_summary">
            <span class="edit_icon"><a href="/checkout/delivery"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td colspan="2"></td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    To
                  </td>
                  <td class="table_full_right_col">
                    Fd Gs
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Phone
                  </td>
                  <td class="table_full_right_col">
                    (412) 547-5412
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Address
                  </td>
                  <td class="table_full_right_col">
                    124 1st Ave (3)
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_full_right_col">
                    New York, 10009
                  </td>
                </tr>
                <tr height="10">
                  <td colspan="3"></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="six columns well" id="when_summary">
            <span class="edit_icon"><a href="/checkout/when"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td colspan="3"></td>
                </tr>
                <tr class="checkout_row" style="border-bottom:1px solid #eeeeee">
                  <td style="width:56px;" class="table_left_col">
                    Date
                  </td>
                  <td class="table_full_right_col">
                    Wednesday, February 22nd
                  </td>
                </tr>
                <tr class="checkout_row">
                  <td class="table_left_col">
                    Time
                  </td>
                  <td class="table_full_right_col">
                    2pm - 3pm
                  </td>
                </tr>
                <tr height="10">
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="six columns well" id="cart_summary_log">
            <span class="edit_icon"><a href="/cart"><i class="fa fa-pencil"></i></a></span>
            <div class="mobile_cart_column">
              <table class="order_tracker">
                <tr height="10">
                  <td></td>
                </tr>
                <tr class="table_product_row">
                  <td class="table_product_img">
                    <img class="table_icon" src="https://fdn.bloomthat.com/files/products/the-tu-hot-tu-handle/icon/1486754168/the-tu-hot-tu-handle-icon-bloomthat-tulip-pitcher-iconCODERED.png">
                  </td>
                  <td class="table_product_name">
                    The Tu Hot Tu Handle
                  </td>
                  <td class="table_product_price">
                    $76.00
                  </td>
                </tr>
                <tr style="display:none;" id="order-discount-row">
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_row_title">
                    Discount
                  </td>
                  <td class="table_row_result" id="order-discount-value">
                    -$0.00
                  </td>
                </tr>
                <tr>
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_row_title">
                    Delivery
                  </td>
                  <td class="table_row_result" id="order-shipping-value">
                    $9.99
                  </td>
                </tr>
                <tr>
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td class="table_row_title">
                    Tax
                  </td>
                  <td class="table_row_result" id="order-tax-value">
                    $7.63
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <hr>
                  </td>
                </tr>
                <tr class="table_product_row">
                  <td class="table_left_col">
                    &nbsp;
                  </td>
                  <td height="40" valign="top" class="table_product_name">
                    Total
                  </td>
                  <td height="40" valign="top" class="table_total_price" id="order-total-value">
                    $93.62
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<div class="arrow_box_email-capture" id="email-capture-modal" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <img class="modal-bg-img" src="https://fdn.bloomthat.com/sweet_pics/home/2015/6/bloomthat-email-modal-bg@1100px.jpg" alt="BloomThat Send Something" title="BloomThat Send Something">
      <div id="before-jesus-a">
        <div class="modal-over-body">
          <h2 class="email-cap-head">
            There's something<br>
            you should know.
          </h2>
        </div>
        <div class="modal-over-body-cta">
          <h3 class="email-cap-sub">
            Sign up for our emails &#43; find out.
          </h3>
          <h4 class="email-cap-small">
            (You'll also get <strong>$5 off</strong> your first order for signing up.)
          </h4>
        </div>
        <div class="hero-address-gate">
          <div class="gate-form-holder">
            <div class="hero-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" type="email" name="user_name" placeholder="Enter Email Here" required="" id="email-collect-input-a">
            </div>
            <div class="hero-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>TELL ME!</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-a" style="display:none;">
        <div class="modal-over-body-cta dones">
          <h2 class="email-cap-head">
            Here's $5 off<br>
            for signing up!
          </h2>
          <h3 class="email-cap-sub big-jump">
            Use code <strong>FIRSTBLOOMS</strong> at checkout
          </h3>
          <h4 class="email-cap-small">
            First time users only
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_email-capture" id="email-capture-modal-b" style="display:none;" data-backdrop="static" data-keyboard="false">
  <div class="bottom-layer">
    <div class="modal-body">
      <img class="modal-bg-img" src="https://fdn.bloomthat.com/sweet_pics/home/2015/6/bloomthat-email-modal-bg-2a@1100px.jpg" alt="BloomThat Send Something" title="BloomThat Send Something">
      <div id="before-jesus-b">
        <div class="modal-over-body sign-head">
          <h2 class="email-cap-head sign-two-head">
            Welcome to<br>
            the Bloomcrew!
          </h2>
        </div>
        <div class="modal-over-body-cta sign-sub">
          <h3 class="email-cap-sub sign-two-sub">
            Sign up and get
          </h3>
        </div>
        <div class="hero-address-gate sign-two-email">
          <div class="gate-form-holder">
            <div class="hero-input-box sign-two-input-box" id="email_collect-input">
              <input class="bloom-input-100 monster-lite-form" type="email" name="user_name" placeholder="Enter Your Email Here" required="" id="email-collect-input-b">
            </div>
            <div class="hero-button-box sign-two-button-box">
              <button type="button" class="action-pre_register hero-shop-button mp-email_register_attempted"><span>GET THE CODE</span></button>
            </div>
          </div>
        </div>
      </div>
      <div id="after-jesus-b" style="display:none;">
        <div class="modal-over-body-cta dones">
          <div class="modal-over-body sign-head">
            <h2 class="email-cap-head sign-two-head">
              Nailed It.
            </h2>
          </div>
          <div class="modal-over-body-cta sign-sub">
            <h3 class="email-cap-sub sign-two-sub">
              You Got
            </h3>
          </div>
          <div class="modal-over-body-coupon">
            <h3 class="email-cap-sub big-jumper">
              Use code <strong>FIRSTBLOOMS</strong> at checkout
            </h3>
            <h4 class="email-cap-small">
              First time users only
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;" id="promo_code_enter">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Promo <strong>Code</strong>
        </h3>
      </div>
      <h4 class="arrow-text">
        Enter a promo or referral code
      </h4>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <form action="https://www.bloomthat.com/checkout/promo_save" method="post" accept-charset="utf-8" id="promo-save-form">
            <div class="modal-input-kicker">
              <input type="hidden" name="note_to" value="" id="promo-note-to"> <input type="hidden" name="note_from" value="" id="promo-note-from"> <input type="hidden" name="note_content" value="" id="promo-note-content"> <input type="text" name="promo_code" class="bloom-input-100" placeholder="Promo Code">
            </div>
            <div class="modal-button-kicker">
              <button type="submit"><span>GO</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow_box_zipper" style="display:none;height:220px" id="stripe-cardless-info-modal">
  <div class="bottom-layer">
    <div class="modal-body">
      <div class="arrow_box_header_top">
        <h3 class="arrow-header">
          Stripe Cardless Payment
        </h3>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <h4 class="arrow-text" style="margin-top:20px; margin-bottom:20px;">
            This payment option connects directly to <a href="https://stripe.com/checkout" target="_blank">Stripe</a><br>
            so we never know anything about your credit card.<br>
            <br>
            Once we've made this one charge we will not be able to charge your card again since we don't have in our records 😀
          </h4>
        </div>
      </div>
      <div class="container modal-wrap-container">
        <div class="row modal-wrap-row">
          <ul class="location_picker">
            <li>
              <button type="button" class="logout_btn stripe-modal-close" name="Close">AWESOME!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="base">
  <div class="container">
    <div class="sixteen columns">
      <div class="row">
        <img alt="BloomThat Flower Delivery" style="width:75px;" src="https://fdn.bloomthat.com/logos/2014/12/bloomthat-logo-mobile.png">
      </div>
      <ul class="master_footer">
        <li>
          <a href="/help-center" title="Help" target="_blank">Support</a>
        </li>
        <li>
          <a href="/account" title="Account" target="_blank">Account</a>
        </li>
        <li>
          <a href="/terms" title="Privacy Policy and Terms of Use" target="_blank">Terms</a>
        </li>
      </ul>
      <p>
        &copy; Copyright 2017 BloomThat
      </p>
    </div>
  </div>
</div>