
<div class="base">
  <div class="container">
    <div class="sixteen columns">
      <div class="row"> <img alt="BloomThat Flower Delivery" style="width:75px;" src="<%=asset_path 'bloomthat-logo-mobile.png' %>"> </div>
      <ul class="master_footer" id="swap-header-footer">
        <li> <a href="https://#/locations" title="Locations">АДРЕС</a> </li>

        <li> <a href="https://#/help-center" title="Help Center">Контакты</a> </li>
      </ul>
      <br>
      <ul class="master_footer">
        <li class="hidden-below"> <a href="https://#/locations" title="Locations">АДРЕС</a> </li>

        <li class="hidden-below"> <a href="https://#/help-center" title="Help Center">Контакты</a> </li>
        <li class="hidden-below"> <a href="https://#/terms" title="Privacy Policy and Terms of Use">Условия</a> </li>
        <li class="hidden-below"> <a href="https://jobs.lever.co/bloomthat" title="Press">Нанимаем</a> </li>
      </ul>
      <h3> Давайте дружить </h3>
      <div class="social-buttons">
        <a target="_blank" href="https://www.instagram.com/" style="background-image: url(/instagram.png);" class="social-button"></a>
        <a target="_blank" href="https://www.snapchat.com/add/" style="background-image: url(/snapchat.png);" class="social-button"></a>
        <a target="_blank" href="https://www.facebook.com/" style="background-image: url(/facebook.png);" class="social-button"></a>
        <a target="_blank" href="https://www.twitter.com/" style="background-image: url(/twitter.png);" class="social-button"></a>
      </div>
      <p> © 2017 OtpravBuket </p>
    </div>
  </div>
</div>
